html {
    padding: 0;
    margin: 0;
    background-color: var(--gg-green);
}

body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

h1 {

    margin: 0;
}

h3 {
    font-family: var(--font-p);
}

.div10 {
    height: 10px;
}

.header {
    height: 80px;
    background-color: var(--gg-green);
    font-family: var(--font-p);
}

.responsive {
    margin: auto;
    max-width: 1200px;
    height: auto;
    padding: 25px;

}

.logo {
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-left: 20px;
}

.Quintessens {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: var(--gg-white);
}

.testje {
    height: 800px;
    padding: 0;

    background: url(bg-white.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

.cta-buttons {
    text-align: center;
    margin-top: 30px;
}

.cta {}

header {}

.logo-header {
    text-align: center;
    height: 100px;
}

.header-content {
    padding-top: 240px;
}

.cta {
    border-radius: 30px;
    font-family: var(--font-p);
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
}

.cta:hover {}

.cta.p {
    padding: 15px 30px 15px 30px;
    background-color: var(--gg-yellow);
    color: var(--gg-white);
}

.cta.s {
    padding: 11px 26px 11px 26px;
    background-color: none;
    color: var(--gg-blue);
    background-color: none;
    border: solid 4px var(--gg-blue);
}

.cta.p.nav {
    float: right;
    margin-top: -45px;
    margin-right: 15px;
}

.headline {
    color: var(--gg-green);
    font-size: 50px;
    font-family: var(--font-p);
    text-align: center;
    margin: 0;

}

.sub-headline {
    text-align: center;
    color: var(--gg-blue);
    font-family: var(--font-s);
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
}



.waarde {
    font-family: var(--font-p);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 46.875 rem;
    margin: 0 px auto;
    gap: 0.625 rem;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    margin-top: -40px;
}



.waarde-img {
    width: 35px;
    height: 35px;
}

.waarde-img-wrap {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.waarde-tekst {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-left: 10px;
    color: white;
}

.waarde-item {
    display: table;
    width: auto;
    background-color: var(--gg-blue);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px;

}

@media only screen and (max-width: 600px) {
    .groenengoed {
        display: none;
    }
}

.groenengoed {
    font-family: var(--font-s);
    opacity: 0.8;
}



.img-wrap {
    text-align: center;
}

.probleem {
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    /*
    border: solid 3px #EB4D3D;
    */
    background-color: #FBDBD8;
}



.probleem-img {
    width: 100px;
    height: 100px;
}

.h3-title-probleem {
    color: #EB4D3D;
    font-size: 30px;
    margin-bottom: 15px;
}

.p-title-probleem {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .02em;
    color: #444444;

}

.over {
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    display: flex;
}


.over-image-wrap {

    width: 50%;
}

.over-image {
    border-radius: 25px;
    width: 100%;
}

.over-content {
    padding-left: 50px;
    width: 50%;
    float: right;
}

.over-naam {
    font-family: var(--font-p);
    font-size: 30px;
    color: var(--gg-green);
    font-weight: bold;
    margin-bottom: 10px;
}

.over-tekst {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .02em;
    color: #444444;
}

.plan {
    background-color: #EBB119;
    padding: 50px;
    border-radius: 25px;

}

.stappen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.stap {
    text-align: center;
    font-family: var(--font-p);
    font-size: 30px;
    color: white;
}

.hoe {
    background-color: #80A6B3;
    padding: 50px;
    border-radius: 25px;
    color: white;
    font-family: var(--font-p);

}

.tr-cta {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 25px;
    color: var(--gg-green);
    font-family: var(--font-p);
    border: solid 3px var(--gg-green);
    text-align: center;
}

footer {
    background-color: var(--gg-green);
}

.footer-content {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: var(--font-p);
    color: var(--gg-white);
}

.footer-logo {
    width: 30px;
    height: auto;
}

input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;

    border: solid 3px var(--gg-green);
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

input[type=email]:focus {
    border: solid 3px var(--gg-green);
}

input[type=submit] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: var(--gg-green);
    color: var(--gg-white);
    font-family: var(--font-p);
    border-radius: 10px;
    font-size: 16px;
}

.producten {
    background-color: var(--gg-white);
    padding: 50px;
    border-radius: 25px;
    color: var(--gg-green);
    font-family: var(--font-p);
    padding: 50px;
    border-radius: 25px;

}

.producten-wrap {
    display: flex;

}

.product {
    flex: 1;
    padding: 25px;
    border-radius: 20px;
    background-color: #E7EFED;
    transition: all .2s ease;
}

.div20-h{
    width: 20px;
}

.product.tja{
    border: solid 3px var(--gg-green);
}

.product.video{
    opacity: 0.5;
}

.product-image{
    width: 100%;
}

.product:hover {
    transform: scale(1.03);
    transition: all .2s ease;
}

.product-title{
    font-family: var(--font-p);
    font-size: 25px;
    color: var(--gg-green);
    font-weight: bold;
    margin-bottom: 10px;
}

.product-tekst{
    font-family: var(--font-p);
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .02em;
    color: #444444;
}

.product-image{
    border-radius: 10px;
}