html {
    padding: 0;
    margin: 0;
    background-color: var(--gg-green);
}

body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}

h3 {
    font-family: var(--font-p);
}

.div10{
    height: 10px;
}

.header {
    height: 80px;
    background-color: var(--gg-green);
    font-family: var(--font-p);
}

.responsive {
    margin: auto;
    max-width: 1200px;
    height: auto;
    padding: 25px;

}

.logo {
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-left: 20px;
}

.Quintessens {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: var(--gg-white);
}

.testje {
    height: 800px;
    padding: 0;

    background: url(bg-white.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

.cta-buttons {
    text-align: center;
    margin-top: 30px;
}

.cta {}

header {}

.logo-header {
    text-align: center;
    height: 100px;
}

.header-content {
    padding-top: 240px;
}

.cta {
    border-radius: 10px;
    font-family: var(--font-p);
    text-decoration: none;
    margin: 5px;
}

.cta.p {
    padding: 15px 30px 15px 30px;
    background-color: var(--gg-yellow);
    color: var(--gg-white);
}

.cta.s {
    padding: 12px 27px 12px 27px;
    background-color: none;
    color: var(--gg-white);
    background-color: var(--gg-blue);
    border: solid 3px var(--gg-blue);
}

.cta.p.nav {
    float: right;
    margin-top: -43px;
    margin-right: 15px;
}

.headline {
    color: var(--gg-green);
    font-size: 50px;
    font-family: var(--font-p);
    text-align: center;
    margin: 0;

}

.sub-headline {
    text-align: center;
    color: var(--gg-blue);
    font-family: var(--font-s);
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
}



.waarde {
    font-family: var(--font-p);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 46.875 rem;
    margin: 0 px auto;
    gap: 0.625 rem;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    margin-top: -40px;
}



.waarde-img {
    width: 40px;
    height: 40px;
}

.waarde-img-wrap {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.waarde-tekst {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-left: 10px;
    color: white;
}

.waarde-item {
    display: table;
    width: auto;
    background-color: var(--gg-green);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 10px;
    
}

@media only screen and (max-width: 600px) {
    .groenengoed {
        display: none;
    }
}

.groenengoed {
    font-family: var(--font-s);
    opacity: 0.8;
}



.img-wrap {
    text-align: center;
}

.probleem{
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    /*
    border: solid 3px #EB4D3D;
    */
    background-color: #FBDBD8;
}

.probleem-img {
    width: 150px;
    height: 150px;
}

.h3-title-probleem{
    color: #EB4D3D;
    font-size: 30px;
}

.p-title-probleem{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -.022em;
}